
.card{

    width:30%;
    top:100px;
    left:450px;
    font-size: 13px;
    height:50%;
    border-radius: 8%;
    background-color: rgba(214, 77, 77,0.5);
    border: 1px solid black;
    color: white;
}

.btn{
    background-color: white;
   
    border: 1px solid black;
    color:rgb(0, 0, 0);
    padding:7px 10px;
    font-size: 13px;
}

.btn:hover{
    background-color: rgba(214, 77, 77,0.8);
}

input[type="text"], input[type="number"]{
    border: 1px solid black;
}
.error{
    color:red;
    font-size: 13px;
    font-weight: bold;
}