<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
	 <form action="/feedback">
        <fieldset class="form-group">
            <label for="firstName">FirstName</label>
            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="firstName">
        </fieldset>
        <fieldset class="form-group">
            <label for="lastName">LastName</label>
            <input type="text" name="lastName" id="lastName" class="form-control" placeholder="lastName">
        </fieldset>
         <fieldset class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" placeholder="email">
        </fieldset>
        <fieldset class="form-group">
            <label for="feedback">Feedback</label>
            <input type="text" name="feedback" id="feedback" class="form-control" placeholder="feedback">
        </fieldset>
        <button class="btn btn-primary">Submit</button>
    </form>
</body>
</html>