

  
    
    <div class="card shadow-lg">
        <div class="card-body">
            <div class="card-title">
                <h3 class="t1">Login</h3>
                <div class="card-content">
                    <form (ngSubmit)="userlog()"  autocomplete="off">
                        <div class="form-group">
                            <label for="username">Name</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="name" [(ngModel)]="userlogData.username">
                        </div>  
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" name="password" id="password" class="form-control" placeholder="password" [(ngModel)]="userlogData.password">
                        </div>    
                          
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn">

                        </div>
                       
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
