@charset "ISO-8859-1";

body{
	width: 30vw;
}
#bg {
  position: absolute; 
  z-index:-1;
  width: 100vw;
  height: 100vh;
  top:0px;
  left:0px;
  opacity:0.9;
}


label{
	color: #f4511e;
	font-family: 'Roboto Mono', monospace;
}

.ln1{
	position: relative;
	left:510px;
	top : 80px;
	font-size: 30px;
}
.ln2{
	position: relative;
	left:180px;
	top : 150px;
}
.ln3 , .ln4 {
	position: relative;
	left:400px;
	top : 150px;
}


.input1 , .input2 , .input3{
	position: relative;
	left:600px;
	top : 130px;
	border-radius: 1px;
} 

.btns{
	position: relative;
	left:550px;
	top : 170px;
	text-align: center;
	padding: 6px 15px;
	border-radius: 5px;
	background-color: #f4511e;
  	border: none;
  	color: white;
  	font-size: 17px;
    opacity: 0.8;
  	transition: 0.3s;
}
.btns:hover {opacity: 1}

